table {
    margin: auto;
    margin-top: 2em;
    border-collapse: collapse;
    font-size: 0.7rem;
}

table tr th {
    padding: 1em;
    font-weight: 300;
    background-color: rgb(245, 211, 148);
    border: 1px solid;
}

table tr th:nth-of-type(3) {
    width: 20em; 
}

table tr th:nth-of-type(10), table tr th:nth-of-type(11), table tr th:nth-of-type(12) {
    background-color: rgb(249, 162, 80);
}

table tr td:nth-of-type(8) {
    background-color: rgb(245, 211, 148);
}

table tr td:nth-of-type(10) {
    background-color: rgb(249, 162, 80);
}

table tr td {
    padding: 0.15em 0.5em 0.15em 0.5em;
    background-color: white;
    border: 1px solid;
}

.totalLine td {
    text-align: left;
    background: rgb(252, 219, 111);
    font-weight: 800;
}