* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div.content {
  margin: 1em 2em 0 12em
}

table {
  margin: auto;
  margin-top: 2em;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.7rem;
}

table tr th {
  font-weight: 300;
  padding: 1em;
  background-color: rgb(245, 211, 148);
  border: 1px solid;
  
}

table tr td {
  padding: 0.15em 0.5em 0.15em 0.5em;
  background-color: white;
  border: 1px solid;
}